<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Example PDF</title>
  <style>
    /* Add your CSS styles here */
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 20px;
    }

    .header {
      overflow: auto;
      /* Clearfix for floated children */
      display: inline-block;
      /* Adjusts width to fit content */
      text-align: center;
    }

    .text {
      overflow: auto;
      /* Clearfix for floated children */
      display: inline-block;
      /* Adjusts width to fit content */
      text-align: center;
      background-color: #009688;
      padding-top: 10px;
    }

    .avatar,
    .header h1 {
      margin: 0;
      /* Remove default margin */
      float: left;
      /* Float elements to the left */
      display: inline-block;
      /* Display as inline block */
      vertical-align: middle;
      /* Vertically align the inline elements */

    }

    .header h1 {
      height: 51px;
    }

    /* Other styles remain the same */

    .avatarimg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-bottom: -3px;
    }

    .avatar {
      background-color: #009688;
      padding: 5px;
      margin-right: 5px;
    }

    .header h1 {
      color: white;
      padding: 0 10px;
      /* Space around the text */
    }

    .content {
      margin: 0 auto;
      width: 80%;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
<header>
  <div class="header">
    <div class="avatar">
      <!-- Replace 'path_to_avatar_image.jpg' with the actual path to the avatar image -->
      <img class="avatarimg" src="https://teresa-icons.s3.us-south.cloud-object-storage.appdomain.cloud/img_app_teresa.png" alt="Avatar">
    </div>
    <div class="text">
      <h1>Teresa 360ยบ</h1>
      <h1>Atendimentos por agentes</h1>
    </div>
  </div>
  <% if @assigned_agent_name %>
    <p>Agente: <%= @assigned_agent_name %></p>
  <% end %>
  <% if @date_range %>
    <p>Data: <%= @date_range %></p>
  <% end %>
  <% if@total_conversations %>
    <p>Total de atendimentos: <%= @total_conversations %></p>
  <% end %>
</header>


<div class="content">
  <table>
    <tr>
      <th>Nome do Agente</th>
      <th>Protocolo</th>
      <th>Data de Chegada</th>
      <th>Data de Atendimento</th>
      <th>Status</th>
    </tr>
    <% # Assuming @items is defined in your controller %>
    <% @conversations.each do |conversation| %>
      <tr>
        <td><%= conversation.contact.name %></td>
        <td><%= conversation.additional_attributes['protocolo'] || '---' %></td>
        <td><%= conversation.created_at ? conversation.created_at.in_time_zone('America/Sao_Paulo').strftime('%d/%m/%Y %H:%M') : '---' %></td>
        <td><%= conversation.first_reply_created_at ? conversation.first_reply_created_at.in_time_zone('America/Sao_Paulo').strftime('%d/%m/%Y %H:%M') : '---' %></td>
        <td><%= I18n.t("chat_list.chat_status_filter_items.#{conversation.status}.text") %></td>
      </tr>
    <% end %>
  </table>
</div>
</body>
</html>
